body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.addepartment {
  margin-left: 40px;
}

.backbutton {
  margin-bottom: 15px;
  margin-left: 40px;
}